table {
  width: 95%;
  max-height: 75%;
  border-collapse: collapse;
}

thead {
  border: 3px solid #1028A7;
  border-radius: 10px;
  
}

tbody:before {
  content:"@";
  display:block;
  line-height:8px;
  text-indent:-99999px;
}

th {
  background: #C4C4C4;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

td {
  font-size: 85%;
  font-weight: 500;
  padding: 0.5rem;
  text-align: left;
  overflow: auto;
}

tr:nth-child(odd) {
  background: #C4C4C4;
}

tr:nth-child(even) {
  background: #FFFFFF;
}

.App {
  background-color: #E4EDFF;
  color: #1028A7;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
}

.App-logo {
  width: 30%;
}

.App-header {
  height: 15vh;
  width: 95vw;
}

.App-header hr {
  height: 3px;
  border-width: 0;
  background-color: #5067B0;
  width: 95vw;
}

.App-header > div {
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: #28377E
}

.App-main {
  height: 85vh;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
}

.App-link {
  color: #61dafb;
}

.display-container {
  background-color: #FFFFFF;
  border: 3px solid #1028A7;
  border-radius: 5px;
  width: 95vw;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.filled {
  height: 60vh;
  overflow: scroll;
}

.filled-header {
  width: 90%;
  max-height: 5rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

.filled-header > div {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button-styled-link {
  text-decoration: none;
  padding: .85rem;
  color: #1028A7;
  font-size: 1.4rem;
  font-weight: 700;
  border: 3px solid #1028A7;
}

.distributed-body {
  width: 90%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;

}

.survey-container {
  background-color: #FFFFFF;
  border: 3px solid #1028A7;
  border-radius: 5px;
  width: 90vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}