.App {
  background-color: #E4EDFF;
}

.App-logo {
  width: 30%;
}


.App-header {
  height: 15vh;
}

.App-header hr {
  height: 3px;
  border-width: 0;
  background-color: #5067B0;
  width: 96%;
}

.App-header > div {
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: #28377E
}

.App-main {
  height: 85vh;
}

.App-link {
  color: #61dafb;
}